{% extends "base.html.twig" %}

{% block body %}

<style>
    body {
        text-align: center;
    }
</style>

<br>
<h1>Ponthieux Léo - Group B2</h1>
<br>
<h4>Some additional information:</h4>
<p>
    I am currently in my first year of a University Bachelor of Technology (BUT) in Networks and Telecommunications, and on this blog coded in HTML with the Symfony framework, you will find a summary of my skills as well as my passions and hobbies.
</p>
<br>
<br>
<br>
<div style="display: flex; align-items: baseline; justify-content: center; gap: 10px;">
    <h5 style="margin: 0;">Age :</h5>
    <p style="margin: 0;">18 years old</p>
</div>
<br>
<div style="display: flex; align-items: baseline; justify-content: center; gap: 10px;">
    <h5 style="margin: 0;">Address :</h5>
    <p style="margin: 0;">5 Avenue de Paris, Roanne 42300</p>
</div>
<br>
<div style="display: flex; align-items: baseline; justify-content: center; gap: 10px;">
    <h5 style="margin: 0;">Phone :</h5>
    <p style="margin: 0;">07 69 05 14 41</p>
</div>
<br>
<br>
<div class="container mt-5 p-4 bg-dark text-light shadow-lg border rounded" style="width: 50%; margin: auto;">
    <h3 class="text-center text-warning">For more information</h3>
    <p class="text-center">Discover my hobbies, passions, and projects.</p>
    <div class="text-center mt-3">
        <a href="/passions" class="btn btn-outline-light">Learn More</a>
    </div>
</div>

{% endblock %}