{% extends "base.html.twig" %}

{% block title %}Passions{% endblock %}

{% block body %}
<br>
<div class="container">
  <!-- Module de navigation centré horizontalement -->
  <div class="d-flex justify-content-center mb-4">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
      <label class="btn btn-outline-danger" for="btnradio1" onclick="window.location.href='/projets';">Projects</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-success" for="btnradio2" onclick="window.location.href='/passions';">Passions</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio3" onclick="window.location.href='/loisirs';">Entertainment</label>
    </div>
  </div>

  <!-- Contenu principal -->
  <div class="row">
    <!-- Première carte -->
    <div class="col-md-6 mb-4">
      <div class="card border-success rounded">
        <h3 class="card-header bg-success text-light rounded-top">First PC</h3>
        <div class="card-body">
          <h5 class="card-title">My First PC</h5>
          <p class="card-text">My first computer was a basic laptop with an Intel Celeron and 4GB RAM, just enough for office work but not for games. 
          Despite this, I discovered Minecraft, and although playing at 25 fps was a novelty for me, I wasn't complaining. 
          I then moved on to a gaming laptop with an Intel Core i5, 8 GB RAM and a GTX 1050, which enabled me to explore other games in decent conditions. 
          Over time, I upgraded this PC by adding a further 8GB of RAM and a 1TB M.2 SSD for added comfort. 
          It was at this point that I discovered the world of computer components, and decided to build my own tower while taking up the technical challenges 
          and enjoy a better gaming experience.</p>
        </div>
        <img src="{{ asset('picture/pc1.jpg') }}" 
     class="d-block user-select-none rounded-bottom" 
     style="width: auto; height: 300px; max-width: 100%; object-fit: contain;" 
     alt="Mon Premier PC"> 
        <div class="card-body">
          <p class="card-text text-center">Link to the projecct on 
          <a href="https://www.allmyprojects.fr/mon-%C3%A9quipement/1er-pc" target="_blank" rel="noopener noreferrer">this page.</a>
          </p>

        </div>
      </div>
    </div>

    <!-- Deuxième carte -->
    <div class="col-md-6 mb-4">
      <div class="card border-success rounded">
        <h3 class="card-header bg-success text-light rounded-top">Second PC</h3>
        <div class="card-body">
          <h5 class="card-title">Mon Second PC</h5>
          <p class="card-text">J'ai adoré choisir et monter les composants de ma première tour mais au fil du temps mes envies ont changées... Du fait de ces nombreux ventilateurs et LEDs mon 1er pc faisait pas mal de bruits et de lumières sur mon bureau et jouant de moins en moins aux jeux, j'étais de plus en plus dérangé par le bruit qu'il produisait. J'ai voulu opter pour une nouvelle configuration plus silencieux et discrète. Mais surtout compact pour que je puisses dans un futur le déménager pour mes études.  C'est pourquoi j'ai monté cette deuxième machine non sans négliger ses performances. </p>
        </div>
        <br>
        <img src="{{ asset('picture/pc2.jpg') }}" 
     class="d-block user-select-none rounded-bottom" 
     style="width: auto; height: 300px; max-width: 100%; object-fit: contain;" 
     alt="My second PC"> 
        <div class="card-body">
          <p class="card-text text-center">Link to the projecct on 
          <a href="https://www.allmyprojects.fr/mon-%C3%A9quipement/2e-pc" target="_blank" rel="noopener noreferrer">this page.</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}