{% extends "base.html.twig" %}

{% block title %}Projets{% endblock %}

{% block body %}
<br>
<div class="container">
  <!-- Module de navigation centré horizontalement -->
  <div class="d-flex justify-content-center mb-4">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
      <label class="btn btn-outline-danger" for="btnradio1" onclick="window.location.href='/projets';">Projects</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-success" for="btnradio2" onclick="window.location.href='/passions';">Passions</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio3" onclick="window.location.href='/loisirs';">Entertainment</label>
    </div>
  </div>

  <!-- Contenu principal -->
  <div class="row">
    <!-- Première carte -->
    <div class="col-md-6 mb-4">
      <div class="card border-danger rounded">
        <h3 class="card-header bg-danger text-light rounded-top">DIY Server</h3>
        <div class="card-body">
          <h5 class="card-title">NAS Server - Virtual Machine</h5>
          <p class="card-text">My first network storage server was a Synology DS220J NAS equipped with 2x4TB IronWolf, ideal for getting to grips with the world of network storage and user management. 
          the world of network storage and user management. Quickly coming to terms with this performance, and after watching videos of people 
          setting up their own DIY NAS servers, I decided to build my own. I wanted to make it a mix between a NAS server and a virtual machine server 
          to host small services like Home Assistant, Nginx, etc...</p>
        </div>
        <img src="{{ asset('picture/server1.jpg') }}" 
     class="d-block user-select-none rounded-bottom" 
     style="width: auto; height: 300px; max-width: 100%; object-fit: contain;" 
     alt="Mon Premier PC"> 
        <div class="card-body">
          <p class="card-text text-center">Link to the projecct on
          <a href="https://www.allmyprojects.fr/projets/serveur-nas-vm" target="_blank" rel="noopener noreferrer">this page.</a>
          </p>

        </div>
      </div>
    </div>

    <!-- Deuxième carte -->
    <div class="col-md-6 mb-4">
      <div class="card border-danger rounded">
        <h3 class="card-header bg-danger text-light rounded-top">Freebox Pop Cooler</h3>
        <div class="card-body">
          <h5 class="card-title">Freebox Cooler</h5>
          <p class="card-text">An idea that came to me when I was just starting out with this little box that was crashing from time to time. 
          After noticing some rather high temperatures, my beginner's opinion led me to the idea of cooling this system efficiently. 
          That's when the modeling and manufacturing of this cooler began.</p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <img src="{{ asset('picture/freebox_cooler1.jpg') }}" 
     class="d-block user-select-none rounded-bottom" 
     style="width: auto; height: 300px; max-width: 100%; object-fit: contain;" 
     alt="Mon Premier PC"> 
        <div class="card-body">
          <p class="card-text text-center">Link to the projecct on 
          <a href="https://www.allmyprojects.fr/projets/freebox-cooler" target="_blank" rel="noopener noreferrer">this page.</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}