{% extends "base.html.twig" %}

{% block title %}R.O.M{% endblock %}

{% block body %}

<br>

<div style="text-align: center;">
    <h2>Réseau Opérateur & Multimédia</h2>
</div>
<br>
<div style="text-align: center;">
    <h3 style="text-decoration: underline;">Analyse Réflexive</h3>
</div>

Depuis le début de ma première année en BUT Réseaux & Télécommunications, j’ai rapidement compris tout ce qui touche à l’administration et à la configuration des réseaux. C’est donc assez naturellement que je souhaite m’orienter vers la spécialité Réseaux & Opérateurs Multimédia pour ma deuxième année. Je me reconnais bien dans cette voie, qui correspond à ce que j’aime faire et à ce que j’aimerais approfondir plus tard.
<br><br>
Aujourd’hui, je me sens à l’aise avec pas mal de travaux concrètes comme l’administration d’un réseau déjà en place, la configuration du DNS, DHCP, des IP fixes, la gestion des ports d’un routeur, et la mise en place de pare-feu pour contrôler des accès comme le ping ou le bureau à distance. Je comprends aussi bien le fonctionnement des VLAN et leur utilité dans un réseau structuré. Tous ces éléments me montrent que j’ai une bonne base pour aller plus loin dans cette spécialité.
<br><br>
Malgré ça, je sais aussi qu’il me reste des matières à travailler. J’aimerais être plus à l’aise avec les commandes de configuration Cisco, notamment pour le routage et la gestion des ACL. Je dois aussi renforcer mes compétences en programmation, surtout en Python et en C, car ce sont des langages utiles pour automatiser ou développer des petits outils réseau. Enfin, j’ai encore un peu de mal à me repérer dans les commandes Linux en terminal, donc c’est un point que je veux améliorer pour être plus fluide en environnement serveur.
<br><br>
Là où j’ai le plus de difficultés, c’est dans la modélisation mathématique et tout ce qui est principes théoriques en maths. C’est plus abstrait pour moi, et je sens que j’ai besoin de prendre plus de temps pour assimiler ces notions.
<br><br>
Je reste quand même motivé à progresser sur tous ces points. Je sais ce qu’il me reste à faire, et je compte m’appuyer sur mes cours, des exercices pratiques et du travail régulier pour combler mes lacunes. Je suis vraiment déterminé à réussir dans cette spécialité, car je me vois bien plus tard travailler dans des métiers comme technicien réseau, admin systèmes, ou même chez un opérateur télécom.
<br><br>
{% endblock %}