{% extends "base.html.twig" %}

{% block title %}R.O.M{% endblock %}

{% block body %}

<br>

<div style="text-align: center;">
    <h2>Réseau Opérateur & Multimédia</h2>
</div>

<br>
    <div style="text-align: center;">
    <h3>Pourquoi cette spécialisation ?</h3>

<br>

        <h4>ADSL, Fibre Optique, 5G, Wifi, Satellite, etc... </h4>
        Je m'interresse à tous les systèmes et équipements qui nous entours et principalement ceux qui communiquent entre eux.
        Par exemple les antennes réseaux (fréquence utilisé et opérateurs implentés). Ainsi que le cheminement des câbles Fibre Optique entre PM et jusqu'aux maisons.
<br>
<br>
        <h5>Je m'interresse de près à leur déploiement :</h5>
        <img src="https://www.arcep.fr/fileadmin/cru-1714402758/user_upload/nos-sujets/fibre/OI_FttH_Territoire_Projet-basse-def.png" alt="Carte Fibre ARCEP" style="max-width: 30%; height: auto; margin-left: 50px; margin-top: 10px;">
        <img src="https://www.arcep.fr/fileadmin/cru-1714402758/user_upload/Ma_connexion_internet/carte_debit_quartier_v2.jpg" alt="Carte Fibre ARCEP" style="max-width: 50%; height: auto; margin-left: 50px; margin-top: 10px;">

<br>
<br>
- - -
<br>
<br>

            <h4>Sorties de nouvelles box Internet</h4>
            <img src="https://portail.free.fr/media/uploads/2024/01/ultra.webp" style="max-width: 30%">
            <img src="https://cdn.woopic.com/9ffb653181284b0abe5e45d7014095b2/myshop-myshop-prod-4b314d66/images/orange/broadband/demands/showcase/internetOfferDetail/livebox/Livebox_7.webp" style="max-width:30%">
            <img src="https://mag.bouyguestelecom.fr/wp-content/uploads/2025/01/Plan-clair-scaled.jpg" style="max-width:30%">
                <h5>Débit théorique, Technologies Wifi, Services inclus ou non (VPN - DNS personnalisable - Disque Interne - Fréquence Wifi).</h5> 

<br>
<br>
- - -
<br>
<br>

    <h4>Application mobile</h4>
        <h6>J'ai une application mobile me permettant d'avoir plus d'informations sur chaque antennes réseaux et tout ça synchronisé avec l'API de l'ANFR.</h6>
            <br>
                <img src="https://www.universfreebox.com/UserFiles/image/Géoradios.PNG" style="max-width: 80%">
</div>


j'ai moi meme un nas 
    configuration des ports du routeur
        Ping et service à distance (vpn, stockage, drive, serveur multimédia)

projet propre netflix

{% endblock %}