<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SymBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cv">My CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">My Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/passions">Passions/Projets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rom">R.O.M</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container flex-grow-1">
        {% block body %}{% endblock %}
    </div>



    
    <footer class="bg-light text-center text-lg-start mt-auto">
    <div class="container p-3">
        <p class="mb-0 text-center">
            &copy; {{ "now"|date("Y") }} SymBlog. Tous droits réservés.
        </p>
        <p class="mb-0 text-center">
            Développé par <a href="https://www.linkedin.com/in/l%C3%A9o-ponthieux/" target="_blank" class="text-decoration-none text-primary">Léo Ponthieux</a>
        </p>
    </div>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>